@import url('https://necolas.github.io/normalize.css/latest/normalize.css');

* {
    box-sizing: border-box;
    font-family: cursive;
}

body, #root {
  width: 100vw;
  height: 100vh;
  background-color: #f6e6cb;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  width: 40%;
  height: 40%;
  border-radius: 5px;
  padding: 40px 30px 20px 70px;
  background-color: #e3cdc1;
}

label, .modal-labels, .url {
  width: max-content;
  text-align: left;
  background-color: #f6e6cb;
  padding: 6px 10px;
  border-radius: 2px;
  font-size: 13px;
}

textarea {
  display: flex;
  justify-self: right;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  margin: 15px 0;
  font-family: sans-serif;
  outline: none;
  padding: 10px;
}

.bottom-btns {
  width: 100px;
  height: 50px;
  border: 1px solid #fff;
  background-color: #f6e6cb;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-btns, .fa-times {
  color: #000;
  text-decoration: none;
}

.bottom-btns:hover {
  cursor: pointer;
  background-color: #e7d4b5;
}

#loading:hover {
  cursor: progress;
}

.form-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  width: 40%;
  height: 80%;
  border-radius: 5px;
  background-color: #e3cdc1;
  padding: 40px 20px;
  position: relative;
}

.fa-times {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 15px;
  background-color: #f6e6cb;
  padding: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.fa-times:hover {
  cursor: pointer;
}

.response {
  width: 100%;
  background-color: #fff;
  overflow-y: scroll;
  margin-bottom: 40px;
  font-size: 13px;
}

.results {
  height: 50%;
  display: block;
  text-align: left;
}

.errors {
  height: 20%;
}

.modal-bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.url {
  margin-right: 20px;
  color: #000;
}


@media screen and (max-width: 900px) {
  form, .modal {
    min-width: 400px;
    min-height: 260px;
  }
}