@import url('https://necolas.github.io/normalize.css/latest/normalize.css');

* {
    box-sizing: border-box;
    font-family: cursive;
}

body, #root {
  width: 100vw;
  height: 100vh;
  background-color: #f6e6cb;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  width: 40%;
  height: 40%;
  border-radius: 5px;
  padding: 40px 30px 20px 70px;
  background-color: #e3cdc1;
}

label {
  width: max-content;
  text-align: left;
  background-color: #f6e6cb;
  padding: 6px 10px;
  border-radius: 2px;
  font-size: 13px;
}

textarea {
  display: flex;
  justify-self: right;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  margin: 15px 0;
  font-family: sans-serif;
  outline: none;
  padding: 10px;
}

button.send-tsv {
  width: 100px;
  height: 50px;
  border: 1px solid #fff;
  background-color: #f6e6cb;
  border-radius: 5px;
}

button.send-tsv:hover {
  cursor: pointer;
  background-color: #e7d4b5;
}

#loading:hover {
  cursor: progress;
}

.form-bottom {
  width: 100%;
  text-align: right;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  form {
    min-width: 400px;
    min-height: 260px;
  }
}